/* Thiết lập các kiểu CSS cho trang web */
body {
    font-family: 'Plus Jakarta Sans Medium', 'Plus Jakarta Sans';
    margin: 0;
    padding: 0;
    background-color: #EFEFEF;
    color: #333;
    margin-left: 10%;
    margin-right: 10%;
}

/* Thiết lập các kiểu CSS cho header */
header {
    display: flex;
    /* Sử dụng flexbox để tự động căn chỉnh các phần tử con */
    align-items: center;
    /* Căn chỉnh các phần tử con theo chiều dọc */
    justify-content: space-between;
    /* Phân chia khoảng cách giữa các phần tử con */
    padding: 20px;
    background-color: #EFEFEF;
    color: #545454;
}

.logo img {
    max-width: 200px;
    /* Giới hạn chiều rộng tối đa của logo */
}

nav {
    display: flex;
    /* Sử dụng flexbox để tự động căn chỉnh các phần tử con */
}

nav a {
    color: #545454;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: #FFD700;
}

.social-follow {
    display: flex;
    align-items: center;
}

.social-follow i {
    font-size: 45px;
    margin-right: -30px;
    z-index: 1;
}

.follower-count {
    font-weight: bold;
    background-color: #EFEFEF;
    border-radius: 30px;
    padding: 10px 30px 10px 40px;
    display: inline-block;
    background-color: #fff;
}

.follower-count a {
    padding-right: 10px;
}


.social-follow .follower-count i {
    font-size: 24px;
    margin-right: 5px;
}

main {
    padding: 0px;
    background-color: #EFEFEF;
}

.promote-section {
    display: flex;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */

}

.promote-section .content-word {
    padding: 2% 5%;
    z-index: 1;
}

.promote-section .content-word h2 {
    color: #333;
    font-size: 60px;
    padding: 0;
    margin: 0;
}

.promote-section .content-word .p {
    color: #666;
}

.promote-section .promote-img {
    clip-path: none;
}

.promote-section .promote-img img {
    max-width: 300px;
    width: 100%;
    display: block;
    margin: 0;
    z-index: 1;

}

#typing-text {
    font-size: 24px;
    color: transparent;
    position: relative;
}


@keyframes blink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.button-section {
    margin-top: 20px;
}

.button-section .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.button-section .button:hover {
    background-color: #5f5f5f;
}

.image-container {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.image-container img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.image-border {
    position: absolute;
    top: calc(-3px - 10px);
    left: calc(-3px - 10px);
    right: calc(-3px - 10px);
    bottom: calc(-3px - 10px);
    background-color: transparent;
    border: 3px solid #000;
    border-radius: 10px;
}


.image-border::before,
.image-border::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #000;
}

.image-border::before {
    top: -16px;
    left: -16px;
}

.image-border::after {
    bottom: -16px;
    right: -16px;
}

.square, .circle {
    position: absolute;
    z-index: 0;
}

.square {
    width: 100px;
    height: 100px;
    background-color: rgb(88, 177, 255);
}

.circle {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 100);
    border-radius: 50%;
}



.slide-option {
    margin: 0 0 50px 0;
    text-align: center;
}

.no-marg {
    text-align: center;
    margin: 0 0 40px 0;
}

div.highway-slider {
    display: flex;
    margin-bottom: 0px;
    padding: 0px;
    border-radius: 30px;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.highway-barrier {
    overflow: hidden;
    position: relative;
}

ul.highway-lane {
    display: flex;
    height: auto;
    align-items: center;
}

li.highway-car {
    border-radius: 15px;
    flex: 1;
    display: block;
    background: #fff;
    color: #343434;
    text-align: center;
    padding: 10px;
    margin: 0 30px;
    max-width: 330px;
    height: 230px;
    overflow: hidden;
}

@keyframes translatestf {
    0% {
        transform: translateX(500%);
    }

    100% {
        transform: translateX(-500%);
    }
}

#stffull div.highway-barrier ul.highway-lane {
    width: 500%;
    /* Số lần lặp lại của các block trong slider */
}

#stffull div.highway-barrier ul.highway-lane li.highway-car {
    animation: translatestf 15s linear infinite;

    h4 {
        font-size: 35px;

    }


}

.highlight-text {
    font-weight: bold;
    background-color: #f3ec78;
    background-image: linear-gradient(90deg, #f3ec78 1%, #066aff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

@keyframes translateinfinite {
    100% {
        transform: translateX(calc(-20vw * 12));
        /* Số lần lặp lại của các block trong slider */
    }
}

#infinite div.highway-barrier {
    background: #fff;
    box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.3);

    &::before,
    &::after {
        content: " ";
        position: absolute;
        z-index: 9;
        width: 20vw;
        /* Sử dụng viewport width để đảm bảo hiệu ứng dịch chuyển tốt trên các thiết bị khác nhau */
        height: 100%;
    }

    &::before {
        top: 0;
        left: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }

    &::after {
        top: 0;
        right: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }
}

#infinite div.highway-barrier ul.highway-lane {
    width: calc(20vw * 24);
    /* Số lần lặp lại của các block trong slider */
}

#infinite div.highway-barrier ul.highway-lane li.highway-car {
    width: 20vw;
    /* Sử dụng viewport width để đảm bảo hiệu ứng dịch chuyển tốt trên các thiết bị khác nhau */
    animation: translateinfinite 25s linear infinite;

    span.fab {
        font-size: 65px;
    }
}


#red {
    background: #cb5454;
}

#orange {
    background: #cb8054;
}

#yellow {
    background: #cbba54;
}

#green {
    background: #69b46e;
}

#blue {
    background: #6091b0;
}

#white {
    background: #ffffff;
}

#social-message-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;

}

#social-message-btn .zalo-chat,
#social-message-btn .messenger-chat {
    position: relative;
    /* Đặt vị trí tương đối để phần tử con sử dụng vị trí tương đối với container */
    width: 75px;
    height: 75px;
    transform: translateY(0) scale(1);

}

#social-message-btn .zalo-chat img,
#social-message-btn .messenger-chat img {
    width: 100%;
    /* Làm cho hình ảnh lấp đầy phần tử cha */
    height: 100%;

}

#social-message-btn .zalo-chat {
    margin-bottom: 10px;
    /* Tạo khoảng cách giữa các biểu tượng */
}

#social-message-btn .zalo-chat:hover,
#social-message-btn .messenger-chat:hover {
    transform: translateY(-5px) scale(1.1);
}

@keyframes glow {
    0% {
        box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0);
        /* Kích thước ban đầu là 0 */
    }

    50% {
        box-shadow: 0 0 40px 20px rgba(232, 255, 84, 0.7);
        /* Kích thước đạt đến đỉnh điểm */
    }

    100% {
        box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0);
        /* Trở lại kích thước ban đầu */
    }
}


.beneficial-section {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.beneficial-section .title {
    font-weight: lighter;
}

.beneficial-section .title h2 {
    font-family: "Plus Jakarta Sans Light";
    font-size: 57px;
    margin: 100px 340px;
}

.beneficial-section .title h2 b {
    font-family: "Plus Jakarta Sans Bold";
    font-size: 57px;
}


.option-container {
    display: flex;
    justify-content: space-between;
}

.option {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}


.option img {
    max-width: 500px;
    height: auto;
}

.option:nth-child(odd) {
    margin-top: -75px;
    margin-bottom: 75px;
}

.option:nth-child(even) {
    margin-top: 75px;
    margin-bottom: 75px;
}

.option h4,
.option p {
    margin: 0 100px;
}

.option p {
    font-size: 18px;
}

.option h4 {
    font-size: 43px;
    font-family: "Plus Jakarta Sans ExtraBold";
    color: #545454;
}

.option .benefit {
    text-align: left;
}

.courses-section {
    display: block;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #ffd631;
    border-radius: 50px;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    text-align: center;
}

.courses-section h1 {
    font-size: 75px;
    font-family: "Plus Jakarta Sans ExtraBold";
}

.courses-section .course-info {
    flex: 1;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}

/* CSS cho tiêu đề của khóa học */
.course-title {
    display: flex;
    justify-content: space-between;
    font-family: "Plus Jakarta Sans ExtraBold";
    margin-left: 20px;
}

/* CSS cho tuổi của khóa học */
.course-age {
    text-align: right;
    font-family: 'Plus Jakarta Sans Light';
    font-size: 20px;
    margin-right: 20px;
}

.course-description {
    margin-left: 20px;
    text-align: left;
    font-size: 15px;
}

.courses-section .course-info .course-container {
    display: inline-block;
}

.courses-section .course-info .course-container .course-section {
    padding: 20px;
    background-color: #fff;
    border-radius: 50px;
    margin-left: 200px;
    width: 500px;
    height: 310px;
    position: relative;
}

/* Thêm hiệu ứng hover */
.courses-section .course-info .course-container .course-section:hover {
    z-index: 9999;
    /* Đặt z-index cao nhất khi hover */
    transform: scale(1.05);
    /* Phóng to hộp khi hover */
    transition: z-index 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 0 20px rgba(128, 128, 128, 0.4);
}

#box1 {
    background-color: #EEEEEE;
}

#box2 {
    background-color: #969696;
    margin-top: -270px;
}

#box3 {
    background-color: #EEEEEE;
    margin-top: -270px;
}

#box4 {
    background-color: #969696;
    margin-top: -270px;
}

/* CSS for the button container */
.button-container {
    display: flex;
    justify-content: flex-end;
    /* Aligns items to the right */
    margin-bottom: 60px;
    margin-right: 20px;
}

/* CSS for the more detail button */
.more-detail-btn {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.more-detail-btn:hover {
    background-color: #3f3f3f;
}

/* CSS for the arrow icon */
.more-detail-btn i {
    margin-left: 5px;
}

.course-section img {
    max-width: 500px;
}

.courses-section .image-container {
    margin-left: 150px;
}

/* Tabs */
/* Additional CSS */
.what-child-learn {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.image-content {
    margin-left: 50px;
    max-height: 100%;
    align-content: center;
    display: block;
    justify-content: center;
}

.image-content img {
    max-height: 450px;
    border-radius: 30px;

}

/* Tabs */
.tabs {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.tabs .tab-big-title {
    margin-left: 5%;
    font-size: 40px;
}

.tabs .tab-title {
    font-size: 25px;
    margin-left: 10px;
}

.tabs label {
    order: initial;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 0.2rem;
    cursor: pointer;
    background: #aaaaaa00;
    font-weight: bold;
    transition: background ease 0.2s;
    border-radius: 30px;
}

.separator {
    width: 450px;
    /* Chiều rộng của đường mỏng */
    height: 2px;
    /* Chiều cao của đường mỏng */
    background-color: #ccc;
    /* Màu sắc của đường mỏng */
    margin: 0 15px;
    /* Khoảng cách giữa các đường mỏng */
    align-self: center;
}


.tabs .tab {
    order: initial;
    margin-left: 30px;
    flex-grow: 1;
    border-radius: 30px;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked+label {
    background: #fff;
    border-radius: 30px;
}

.tabs input[type="radio"]:checked+label+.tab {
    display: block;
    border-radius: 30px;
}

.round-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(239.1deg, #2BB2FF 17.14%, #9FA69D 48.51%, #FFCE07 79.88%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    color: #000000;
    cursor: pointer;
    margin-right: 10px;
    /* Để tạo khoảng cách giữa nút và văn bản */
}